@import "../../../../styles";

.navbar {
  background-color: $color-primary-dark;
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;

    .app-logo {
      @media (max-width: 540px) {
        // width: 100%;
        // text-align: center;
        margin: 0 auto;
      }
      h1 {
        color: $color-secondary-dark;
        font-weight: 600;

        span {
          color: $color-primary-bright;
          /** @todo remove font-weight */
        }
      }

      h1:active,
      h1::selection,
      h1:focus,
      h1::after,
      h1::before {
        outline: none;
      }
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
