<!--<div class="container navbar">-->
<div class="container navbar pb-5">
  <header class="w-100">
    <div class="app-logo">
      <h1 routerLink="" style="cursor: pointer;">Chris<span>topher</span></h1>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/aboutme" (click)="setAppTitle('About me · Christopher')">about me</a></li>
        <li><a routerLink="/skillsets" (click)="setAppTitle('Skills · Christopher')">skills</a></li>
        <li><a routerLink="/developments" (click)="setAppTitle('Work · Christopher')">my work</a></li>
        <li><a routerLink="/sayhi" (click)="setAppTitle('Contact me · Christopher')">contact me</a></li>
      </ul>
    </nav>
  </header>
</div>
