<!--<div class="container navbar">-->
<div class="container navbar pb-5">
  <header class="w-100">
    <div class="app-logo">
      <h1 routerLink="" style="cursor: pointer;">Chris<span>topher</span></h1>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/about-me" (click)="setAppTitle('About me · Christopher')">about me</a></li>
        <li><a routerLink="/skills" (click)="setAppTitle('Skills · Christopher')">skills</a></li>
        <li><a routerLink="/work" (click)="setAppTitle('Work · Christopher')">my work</a></li>
        <li><a routerLink="/sign-in" (click)="setAppTitle('Sign in · Christopher')">sign in</a></li>
      </ul>
    </nav>
  </header>
</div>
