<div class="container about" id="about-me">
  <h1>About me</h1>
  <div class="about-info">
    <p>Fueled by high energy levels and boundless enthusiasm, I'm easily inspired and more than willing to follow my fascinations wherever they may take me. I'm a multi-talented spirit with a natural ability to entertain and inspire.</p>
    <p>I'm professionally connected with the web development industry & information technology. A well-organized individual, problem solver, independent employee.</p>
    <p>I'm a huge fan of <a href="https://jefferydeaver.com" target="_blank">Jeffery Deaver</a> thrillers, TV series' and, most recently, automation (home automation, specifically - credits to
      <a href="https://openhab.org" target="_blank">openHAB</a> &
      <a href="https://raspberrypi.org" target="_blank">Raspberry Pi</a>).
    </p>
    <p>Mostly interested in the entire backend spectrum and working on ambitious projects with lively people.</p>
  </div>
  <img src="assets/img/dotted-shape-2.png" alt="Shape">
</div>
