<div class="container about" id="about">
  <h1>About</h1>
  <div class="about-info">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci dolor earum eius et exercitationem facere impedit mollitia neque odio optio quaerat, repellendus rerum sapiente tempore temporibus? Et, sit.
      Ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci dolor earum eius et exercitationem facere impedit mollitia neque odio optio quaerat, repellendus rerum sapiente tempore temporibus? Et, sit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci dolor earum eius et exercitationem facere impedit mollitia neque odio optio quaerat, repellendus rerum sapiente tempore temporibus? Et, sit.
    </p>
  </div>
  <img src="img/shape.png" alt="">
</div>
