/**
 * ==============================================================
 * CUSTOM SCROLLBAR
 * ==============================================================
 */
::-webkit-scrollbar-track  {
  background-color: #fff !important;
}
::-webkit-scrollbar  {
  width: 12px;
  background-color: #eee !important;
}
::-webkit-scrollbar-thumb  {
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  background-image: none !important;
}

mat-toolbar {
  button {
    position: absolute;
    right: 5%;
  }
  button.mat-button-base, 
  button.mat-primary, 
  button.mat-stroked-button.mat-primary {
    color: #BF360C;
  }

  button.mat-primary:hover {
    background-color: rgba(191,54,12,.05);
  }
}
mat-card {
  form {
    [class^="col-md-"],
    [class^="col-lg-"]{
      @media (min-width: 768px) {
        display: inline-block;
      }
    }

    .col-lg-8.col-md-7 {
      @media (min-width: 768px) {
        position: absolute;
      }
    }

    mat-form-field {
      width: 100%;
    }
    
  }
}

// .mat-form-field.mat-focused .mat-form-field-label {
//   color: #BF360C !important;
// }

// .mat-form-field-label {
//   color: #BF360C !important;
// }

// .mat-input-element {
//   caret-color: #BF360C !important;
// }

// .mat-form-field.mat-focused .mat-form-field-ripple {
//   background-color: #BF360C !important;
// }

// .mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after {
//   color: #BF360C !important;
// }

// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   color: #BF360C !important;
// }

// .mat-icon.mat-primary {
//   color: #BF360C !important;
// }

// .mat-progress-bar-fill::after {
//   background-color: #BF360C !important;
// }
// .mat-progress-spinner circle,.mat-spinner circle {
//   stroke: #BF360C !important;
// }

// .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
//   border-color: #BF360C !important;
// }

// .mat-radio-button.mat-primary .mat-radio-inner-circle,.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
//   background-color: #BF360C !important;
// }

// .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//   color: #BF360C !important;
// }

// .mat-flat-button.mat-primary,
// .mat-raised-button.mat-primary,
// .mat-fab.mat-primary,
// .mat-mini-fab.mat-primary {
//   background-color: #BF360C;
//   color: #eeeeee;
// }

