/**
 * ==============================================================
 * CUSTOM SCROLLBAR
 * ==============================================================
 */
::-webkit-scrollbar-track  {
  background-color: #fff !important;
}
::-webkit-scrollbar  {
  width: 12px;
  background-color: #eee !important;
}
::-webkit-scrollbar-thumb  {
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  background-image: none !important;
}

mat-toolbar {
  button {
    position: absolute;
    right: 5%;
  }
}
mat-card {
  form {
    [class^="col-md-"],
    [class^="col-lg-"]{
      @media (min-width: 768px) {
        display: inline-block;
      }
    }

    .col-lg-8.col-md-7 {
      @media (min-width: 768px) {
        position: absolute;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }
}

