<h2 mat-dialog-title>Project Details</h2>
<mat-dialog-content class="mat-typography">
  <h3></h3>
  <div class="col-md-4">
    <img src="/assets/uploads/thumbnails/screenshot-7.png" alt="{{ data.name }}" class="img-fluid img-responsive" max-width="100%" />
  </div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="text-uppercase muted text-muted uk-text-muted">{{ data.name }}</h3>
    </div>
    <!-- <hr> -->
    <div class="row">
      <a href="" target="_blank" class="muted text-muted uk-text-muted">{{ data.url }}</a>
    </div>
    <hr>
    <div class="row">
      <p class="muted text-muted uk-text-muted">{{ data.description }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>


