<div id="dashboard-section">
  <div fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="100" style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
    <mat-card class="mat-card">
      <mat-card-content class="mat-card-content">
        <div class="d-flex no-block">
          <div class="m-r-10 no-shrink">
            <button class="shadow-none bg-warning mat-fab mat-warn" color="warn" mat-card-icon="" mat-fab="">
              <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">local_mall</mat-icon>
            </button>
          </div>
          <div class="ml-3 mt-2">
            <h3 class="m-0">{{ projectCount }}</h3>
            <h6 class="text-muted m-0">All Projects</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<app-calender></app-calender>

<mat-divider></mat-divider>

<div>
  hello
  <app-pie-chart></app-pie-chart>
</div>

<mat-divider></mat-divider>

<div>
  <div>table</div>
  <div>pie chart</div>
</div>
