<div class="container skills" id="skills">
  <h1>Skills</h1>
  <p class="skills-info">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque dolorem ducimus ex facere harum illo in ipsam iure maiores minima minus necessitatibus neque nihil, odit placeat sapiente, sint, vero.
  </p>
<!--  <app-skill *ngFor="let skill of skills">Loading...</app-skill>-->

<!--  To be removed above getting the above attached-->
  <div class="skill skill-type skill-measures" *ngIf="skills">
    <div class="col-5 col-md-5 app-col-2 col-md-5 col-sm-12 col" *ngFor="let skill of skills">
      <div class="skill-name">
        <h3>{{ skill.name }}<span class="progress-value">{{ skill.proficiency }}</span><span>/</span><span class="progress-total">10</span><span></span></h3>
      </div>
      <div class="skill-progress tag-{{ skill.proficiency }}">
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
        <span class="progress-default"></span>
      </div>
    </div>


  </div>

</div>
