<mat-sidenav-container class="app-sidenav-container">
<!--    <mat-sidenav mode="over" align="start" opened>-->
  <!-- mat-elevation-z10 -->
    <mat-sidenav
      class="app-sidenav"
      [mode]="isMobileDeviceScreen() ? 'over' : 'side'"
      [opened]="!isMobileDeviceScreen()"
      #sidenav>
      <mat-toolbar color="primary">
        <span>Console</span>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list>
          <a mat-list-item *ngFor="let link of links" [routerLink]="link.url">{{ link.name }}</a>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <div class="app-sidenav-content">
      <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Body -->

</mat-sidenav-container>
