<mat-sidenav-container class="app-sidenav-container">
<!--    <mat-sidenav mode="over" align="start" opened>-->
  <!-- mat-elevation-z10 -->
    <mat-sidenav
      class="app-sidenav"
      [mode]="isMobileDeviceScreen() ? 'over' : 'side'"
      [opened]="!isMobileDeviceScreen()"
      #sidenav>
      <mat-toolbar color="primary">
        <span>Dashboard</span>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list>
          <a routerLink="/xyz" mat-list-item (click)="appToggleClose(sidenav)">
            <span><i class="fa fa-dashboard mr-1"></i>Overview</span>
          </a>
          <a mat-list-item *ngFor="let link of links; let i = index" [routerLink]="link.url" (click)="appToggleClose(sidenav)">
            <span><i class="fa mr-1" [ngClass]="(i === 0) ? 'fa-table':'fa-line-chart'"></i>{{ link.name }}</span>
          </a>
          <hr>
          <a routerLink="/welcome" mat-list-item>
            <span><i class="fa fa-link mr-1"></i>Visit site</span>
          </a>
          <a routerLink="/welcome" mat-list-item>
            <span><i class="fa fa-sign-out mr-1"></i>Logout</span>
          </a>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <div class="app-sidenav-content">
      <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Body -->

</mat-sidenav-container>
