<div class="container coming-soon" id="coming-soon">
  <h1>Whoops...</h1>
  <div class="page-coming-soon-info text-center">
    <h2>Coming soon</h2>
    <h3>You caught me!</h3>
    <p class="mb-5">I am updating my site, and plan to be up and running pretty soon.</p>
    <p>In the meantime you can check me out on <a href="{{ linkedinUrl }}" target="_blank">LinkedIn</a>,&nbsp;<a href="{{ stackoverflowUrl }}" target="_blank">Stack Overflow</a>,&nbsp;<a href="{{ githubUrl }}" target="_blank">Github</a>, or just drop me an <a target="_blank" href="mailto:{{ contactEmail }}">email</a>.</p>
  </div>
  <img src="assets/img/dotted-shape.png" alt="Shape">
</div>
