
<div class="container main-info-section">
  <div class="text">
    <h1>
      <span>H</span>
      <span class="m-left">i</span>
      <span class="m-left">,</span>
      <br>
      <span>I</span>
      <span class="m-left">'</span>
      <span class="m-left">m</span>
      <span class="name">C</span>
      <span class="m-left name">h</span>
      <span class="m-left name">r</span>
      <span class="m-left name">i</span>
      <span class="m-left name">s</span>
      <span class="m-left">,</span>
      <br>
      <span>W</span>
      <span class="m-left">e</span>
      <span class="m-left">b</span>
      <span>D</span>
      <span class="m-left">e</span>
      <span class="m-left">v</span>
      <span class="m-left">e</span>
      <span class="m-left">l</span>
      <span class="m-left">o</span>
      <span class="m-left">p</span>
      <span class="m-left">e</span>
      <span class="m-left">r</span>
      <span class="m-left">.</span>
    </h1>
    <p>Angular2 / Drupal / Docker </p>
    <a href="#contact">contact me</a>
  </div>
  <div class="profile">
    <img src="img/profile-img.jpg" alt="Chris-Shasha" class="img-responsive">
  </div>
</div>
