
<div class="container main-info-section">
  <div class="row">
    <div class="col-8 col-sm-8 col-xs-12 text block-side-by-side">
      <h1 style="font-weight: 900">
        <span>H</span>
        <span class="m-left">e</span>
        <span class="m-left">l</span>
        <span class="m-left">l</span>
        <span class="m-left">o</span>
<!--        <span class="m-left">,</span>-->
        <br>
        <span>I</span>
        <span class="m-left">'</span>
        <span class="m-left">m</span>
        <span class="name">C</span>
        <span class="m-left name">h</span>
        <span class="m-left name">r</span>
        <span class="m-left name">i</span>
        <span class="m-left name">s</span>
        <!--      <span class="m-left name">y</span>-->
        <!--      <span class="m-left name">i</span>-->
        <!--      <span class="m-left name">l</span>-->
        <!--      <span class="m-left name">e</span>-->
        <span class="m-left">,</span>
        <br>
<!--        <span class="curly"><</span>-->
        <span>W</span>
        <span class="m-left">e</span>
        <span class="m-left">b</span>
<!--        <span class="curly">/></span>-->
<!--        <br>-->
        <span>D</span>
        <span class="m-left">e</span>
        <span class="m-left">v</span>
        <span class="m-left">e</span>
        <span class="m-left">l</span>
        <span class="m-left">o</span>
        <span class="m-left">p</span>
        <span class="m-left">e</span>
        <span class="m-left">r</span>
        <span class="m-left">.</span>
      </h1>
      <p>Back End Developer / Drupal Enthusiast / AWS EC2</p>
      <p>I can solve <span class="strike">all of</span> your problems.
        I build, design  & sometimes rescue applications.</p>
      <a href="#contact">contact me</a>
    </div>

    <div class="col-4 col-sm-4 col-xs-12 profile block-side-by-side">
      <img src="assets/img/profile-3.png" alt="Sivuyile Shasha" class="img-responsive img-fluid img-circle" />
    </div>
  </div>
</div>
<!--#.container.main-info-section-->
