
<div class="container main-info-section">
  <div class="row">
    <div class="col-8 col-sm-8 col-xs-12 text block-side-by-side">
      <h1>
        <span class="blast" aria-hidden="true">H</span>
        <span class="m-left blast" aria-hidden="true">e</span>
        <span class="m-left blast" aria-hidden="true">l</span>
        <span class="m-left blast" aria-hidden="true">l</span>
        <span class="m-left blast" aria-hidden="true">o</span>
        <br />
        <span class="blast" aria-hidden="true">I</span>
        <span class="m-left blast" aria-hidden="true">'</span>
        <span class="m-left blast" aria-hidden="true">m</span>
        <span class="name blast" aria-hidden="true">C</span>
        <span class="m-left name blast" aria-hidden="true">h</span>
        <span class="m-left name blast" aria-hidden="true">r</span>
        <span class="m-left name blast" aria-hidden="true">i</span>
        <span class="m-left name blast" aria-hidden="true">s</span>
        <span class="m-left blast" aria-hidden="true">,</span>
        <br />
        <span class="blast" aria-hidden="true">W</span>
        <span class="m-left blast" aria-hidden="true">e</span>
        <span class="m-left blast" aria-hidden="true">b</span>
        <span class="blast" aria-hidden="true">D</span>
        <span class="m-left blast" aria-hidden="true">e</span>
        <span class="m-left blast" aria-hidden="true">v</span>
        <span class="m-left blast" aria-hidden="true">e</span>
        <span class="m-left blast" aria-hidden="true">l</span>
        <span class="m-left blast" aria-hidden="true">o</span>
        <span class="m-left blast" aria-hidden="true">p</span>
        <span class="m-left blast" aria-hidden="true">e</span>
        <span class="m-left blast" aria-hidden="true">r</span>
        <span class="m-left blast" aria-hidden="true">.</span>
      </h1>
      <h2>Back End Developer / AWS EC2 / Taekwon-Do</h2>
      <p>I can solve <span class="strike">all of</span> your problems.
        I build, design  & sometimes rescue applications.</p>
      <a href="#contact">contact me</a>
    </div>

    <div class="col-4 col-sm-4 col-xs-12 profile block-side-by-side">
      <img src="assets/img/profile-3.png" alt="Christopher Shasha" class="img-responsive img-fluid img-circle" />
    </div>
  </div>
</div>
<!--#.container.main-info-section-->
