$color-black: #1A1A1D;
$color-black-light: #4E4E50;
$color-maroon: #6F2232;
$color-pink: #950740;
$color-pink-light: #C3073F;

$color-text-white: #FFFFFF;
$color-text-whitish: #EAEAEA;
$color-text-white-light: #EAEAEA;
